doctype html
html
    head
        meta(charset="utf-8")
        meta(name=viewport content="width=device-width,initial-scale=1")
        title bioChemTool
        link(rel="icon" href="/bioChemTool/assets/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="/bioChemTool/assets/css/font-awesome.min.css")
        script(src="/bioChemTool/assets/bioChemTool-bundle.js")

        style(type='text/css').
           * {
                margin: 0px;
                padding: 0px;
           }
           #bioChemTool {
                margin: 0px;
                padding: 0px;
            }
    body
        #bioChemTool /bioChemTool did not load correctly. Please try again in a moment.
        