doctype html
html
    head
        meta(charset="utf-8")
        meta(name=viewport content="width=device-width,initial-scale=1")
        title canvasTest
        link(rel="icon" href="/canvasTest/assets/favicon.ico" type="image/x-icon")
        link(rel="stylesheet" href="/canvasTest/assets/css/font-awesome.min.css")
        script(src="/canvasTest/assets/canvasTest-bundle.js")

        style(type='text/css').
           * {
                margin: 0px;
                padding: 0px;
           }
           #canvasTest {
                margin: 0px;
                padding: 0px;
            }
    body
        #canvasTest /canvasTest did not load correctly. Please try again in a moment.
        